/***************HOME********************/
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.levelTiles {
  margin-top: 100px;
  display: flex;
}

.block1 {
  margin-right: 20vw;
}

.L1,
.L2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vw;
  width: 25vw;
  border: 1px black solid;
  border-radius: 8px;
}

.L1 {
  background-image: url(./winter.jpg);
}

.L2 {
  background-image: url(./track-square.jpg);
}

.L1:hover,
.L2:hover {
  box-shadow: rgb(201, 199, 199) 0px 0px 10px 5px;
}

p:hover {
  font-weight: 600;
}

.lbButton {
  display: flex;
  margin-top: 100px;
  width: 30vw;
  height: 80px;
  border: black 1px solid;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 241, 240);
}

/*******************HEADER******************/
.headerMain {
  display: grid;
  grid-template-columns: 15% 35% 50%;
  align-items: center;
  height: 120px;
  position: sticky;
  top: 0px;
  margin: 0px;
  z-index: 1;
  background: white;
}

p {
  text-align: center;
}

.characters {
  text-align: right;
}

.characters img {
  height: 80px;
}

.headerMain ul {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  color: black;
  text-decoration: unset;
  font-size: 48px;
  grid-area: 1/2/2/3;
}

a:link,
li,
p,
div {
  list-style: none;
  color: black;
  text-decoration: unset;
  font-size: 20px;
}

li:hover {
  font-weight: 600;
}
/***************CLOCK********************/
.timer {
  position: sticky;
  top: 135px;
  left: 45%;
  background-color: rgba(255, 255, 255, 0.8);
  border: black 2px solid;
  border-radius: 36px;
  padding: 15px;
  text-align: center;
  font-weight: 550;
  width: 150px;
  z-index: 1;
}

/***************LEVEL 1 & 2********************/
.targetLayer {
  display: flex;
  position: absolute;
}

.target {
  border-radius: 500px;
  border: black solid 5px;
  width: 75px;
  height: 75px;
  box-shadow: white 0px 0px 10px 7px;
}

.selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black solid 2px;
  margin-left: 15px;
  background-color: white;
  width: 150px;
  border-radius: 12px;
}
.guessCard {
  display: flex;
  justify-content: center;

  text-align: center;

  width: 100%;
}
.guessCard:hover {
  font-weight: 600;
  box-shadow: gray 0px 0px 10px 7px;
}

.guessCard img {
  height: 53px;
  margin-right: 10px;
}

#underlined.guessCard {
  border-bottom: black 2px solid;
}

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.waldo {
  width: 88vw;
}

.imageContainer {
  position: relative;
  margin-top: -60px;
}

#answer {
  position: absolute;
  border-color: rgb(38, 224, 85);
}

/***************GAME OVER MSG******************/
.score {
  display: flex;
  justify-content: center;
  align-items: center;
}
.score div {
  font-size: 28px;
}
#score {
  font-weight: 700;
  margin-left: 10px;
  font-size: 36px;
}
button {
  background-color: white;
  border: 1px black solid;
  border-radius: 36px;
  height: 42px;
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
}
.cancel {
  background-color: rgb(255, 181, 181);
}
.submit {
  background-color: rgb(154, 154, 255);
}
.endGameContainer {
  position: absolute;
  top: 120px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  width: 100vw;
  height: calc(100% + 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.endGameTile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  position: sticky;
  left: 33%;
  top: 33%;
  width: 500px;
  text-align: center;
  padding: 20px;
  height: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  border: 3px black solid;
}
.congrats {
  font-weight: 700;
  font-size: 36px;
}
label {
  font-size: 28px;
}
input {
  height: 32px;
  border-radius: 6px;
  border: 1px black solid;
  margin-left: 10px;
}
/***************LEADERBOARD********************/

.titleLB {
  font-size: 36px;
  margin-top: 100px;
}

.loading {
  margin-top: 40px;
  text-align: center;
}

table,
td,
th {
  /* border: 1px black solid; */
  border-collapse: collapse;
}

table {
  margin-top: 20px;
  width: max(50vw, 500px);
}

th {
  height: 40px;
  border-top: 1px solid black;
}

td {
  text-align: center;
  vertical-align: center;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid black;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
