/***************LEVEL 1********************/
.targetLayer {
  display: flex;
  position: absolute;
}

.target {
  border-radius: 500px;
  border: black solid 5px;
  width: 75px;
  height: 75px;
  box-shadow: white 0px 0px 10px 7px;
}

.selector {
  border: black solid 5px;
  background-color: white;
  width: 150px;
}

body {
  background-color: gray;
  margin: 0px;
}

.waldo {
  width: 100vw;
}

.header {
  height: 60px;
  position: sticky;
  top: 0px;
  background: red;
  margin: 0px;
}

.imageContainer {
  position: relative;
}
